/* This is for laptops/desktops. */
@media only screen and (min-width: 1001px) {
    body {
        font-size: 225%;
        line-height: 1em;
    }
    h1 {
        font-weight: 300;
        padding: 2% 4%;
        margin: 0%;
    }
    /*h3 is reserved for navbar elements*/
    h3 {
        margin: 8%;
    }
    /*h3 is reserved for navbar elements*/
    p{
        margin: 0% 4%;
    }
    hr{
        margin: 4% 0% 0% 0%;
    }
    .MetaContainer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin: auto;
        gap: 2%;
        width: 90%;
        min-width: 760px;
    }
    .LeftBox {
        width: 15%; 
        min-width: 160px;
        height: fit-content;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        gap: 20px;
    }
    .MainBox {
        width: 85%;
        min-width: 400px;
        height: calc(500%);
    }
    .NavbarMobile {
        display: none;
    }
    .Spacer {
        margin: 2%;
    }
}