@font-face {
    font-family: 'NovaMono';
    src: url('https://files.catbox.moe/di6c0b.woff'); /*References for the font*/
}
@font-face {
    font-family: 'Panic';
    src: url('https://files.catbox.moe/y08v74.woff'); /*Reference for the font*/
}
html {
    background-image: url('https://files.catbox.moe/r3iiz9.gif'); /*Animated BG*/
    font-family: 'NovaMono'; /*Main font for everything on the site*/
    -ms-overflow-style: none;  /* Internet Explorer 10+ scroll bar hiding*/
    scrollbar-width: none;  /* Firefox scroll bar hiding*/
}
/*COLORS!*/
.MainBox , .NavbarDesktop , .NavbarMobile{
    background-color: rgba(0, 8, 20, .65);
}
hr, html, .Border, .SiteTitleLink{
    color: rgba(243, 234, 237, 1);
}
a{
    color: turquoise;
}
/*COLORS!*/
